{% extends 'base.html' %}
{% load static %}
{% block content %}
<section style="padding: 100px 0;">
    <div class="container" style="width: 900px; background-image: url({% static 'assets/img/logob.png' %}); background-repeat: round; background-size: cover;">
        <div>
            <h1 style="font-family: Georgia;">Verification</h1>
           <p>
           <strong> WE PROMISE -:</strong>
            All NGOs are recorded on the stage are cleared for lawful and consistence methodology. You can be guaranteed that we ensure that they hold fast to all the necessities as laid by the law.
            <ul>
            <li>
            We guarantee your gifts are being diverted to your preferred program and organization.  
            </li>
            <li>
                We will bring you the most reliable giving options.
            </li>
            <li>
                All  non crowd funding  programs that we list have effectively cleared a comprehensive test process. We ask for a government certification  in our registration process.
            </li>
            <li>
                We will give you regular updates on the programs that you donate to.
            </li>
            </ul>
           <strong> TEST PROCESS -:</strong>
We understand that you place your trust in us when you donate through us. It is important to us that we assure you that your donations reach the people you want them to.
We not only verify the books of the nonprofits but go on ground where the program is implemented to meet some of the people to ensure that we keep your trust that your donations are  utilized  as promised.
Credibility  Of  The Donation Required
We confirm all the important costs of each program and afterward approve it against the gift sum that is mentioned for the program. The goal is to moderate the danger of misrepresentation and build {% extends 'base.html' %}
{% load static %}
{% block content %}
<section style="padding: 100px 0;">
    <div class="container" style="width: 900px; background-image: url({% static 'assets/img/logob.png' %}); background-repeat: round; background-size: cover;">
        <div>
            <h1 style="font-family: Georgia;">Verification</h1>
           <p>
           <strong> WE PROMISE -:</strong>
            All NGOs are recorded on the stage are cleared for lawful and consistence methodology. You can be guaranteed that we ensure that they hold fast to all the necessities as laid by the law.
            <ul>
            <li>
            We guarantee your gifts are being diverted to your preferred program and organization.  
            </li>
            <li>
                We will bring you the most reliable giving options.
            </li>
            <li>
                All  non crowd funding  programs that we list have effectively cleared a comprehensive test process. We ask for a government certification  in our registration process.
            </li>
            <li>
                We will give you regular updates on the programs that you donate to.
            </li>
            </ul>
           <strong> TEST PROCESS -:</strong>
We understand that you place your trust in us when you donate through us. It is important to us that we assure you that your donations reach the people you want them to.
We not only verify the books of the nonprofits but go on ground where the program is implemented to meet some of the people to ensure that we keep your trust that your donations are  utilized  as promised.
Credibility  Of  The Donation Required
We confirm all the important costs of each program and afterward approve it against the gift sum that is mentioned for the program. The goal is to moderate the danger of misrepresentation and build up that the measure of gift that we solicit from you is inside cutoff points from real expenses of the program. We travel across the country no matter how remote the areas of execution are, to make sure that the program works the way it is meant to.

<br><strong>The remunerations of reaching the right people:</strong><br>
We visit the actual beneficiaries that the program is serving, without prior intimation to the nonprofit to directly validate if they have receive the benefits that they were supposed to receive according to the program. This is done to give you the confidence that your donations reach the right people in need.
But this particularly is not possible in the circumstances like pandemic like corona virus .So the only solution is to do video conferencing with the NGO’s owner or with any core member of  the organization.
<br><strong>Making sure that your Donations  reach  the right people -:</strong>
This is the most important thing we check after the donation is made we provide all the necessary bank details  to the donor and assure him that donation  is fruitfully done. After this donor also cross checks the all transaction that he has made for transferring the money.
We also  fill the gap between the donor the needy by making them  communicate with each other .Donor can assure himself  that he donated to the actual non profit organization which helps the person in need. After the receiving the donation the NGO sends a confirmation message to the donor. 
After this donor can communicate the NGO that how his given capital is used in the well being of the needy.
<br><strong>What happens if a nonprofit does not meet our requirements?</strong><br>
If a NGO does not meet our requirements at the initial test Process stage, we will not list their programs on our platform
If the verification of an active program fails, it could be because of the below few reasons
because the needy does not exist
the benefits given to him as described in the feedback report are found to be false. (This information is given to Donor)

<br><strong>If  this  happens we seek for the reason behind this-:</strong>
<ol>
    <li>
        If there are  some serious issues due to which NGO was not able do help needy. We give some time to the NGO to complete the needful.
    </li>
    <li>
        If  the non Profit and needy are fraud then legal action is taken ,we will file a case against that NGO with donor as a witness and will try to cancel his certification as a Non Profit Organization  and reimburse the donor money.   
    </li>
</ol>



           </p> 
        </div>
    </div>
</section>

{% endblock %}